In [1]:
import random
import numpy as np
from queryParser import queryParser,listToQuery
from functions import *
import psycopg2
from moz_sql_parser import parse
from moz_sql_parser import format
joinedClauses=[]
alias={}
def init():
    
    joinedClauses=[]
    alias={}
    

def queryParser(input):
    init()
    parsed_query=parse(input)
    from_clause=parsed_query["from"]
    for j in range(0,len(from_clause)):
        alias[from_clause[j]["name"]]=from_clause[j]["value"]

    where_clause=parsed_query["where"]["and"]
    for t in where_clause :
        if "eq" in t:
            if isinstance(t['eq'][1],str):
                joinedClauses.append(t['eq'])
                del(t)

            #print('joined tables' , joinedTables)
            #print('alias',alias)
            #print('joined clauses' , joinedClauses)
    return joinedClauses,alias
            #apply algorithm
   
            #table avec alias sans join clause from:[{}{}{}]
        
            
            
            ##########################################################################################



def get_alias(clause):
    a1=clause[0].rpartition('.')[0]
    a2=clause[1].rpartition('.')[0]
    return a1,a2


def t_exist(t,table):
    i=0
    while i<len(table) and table[i]!=t:
        i+=1
    if i==len(table) :
        return False
    else:
        return True

        
def exist(a1,a2,usedTables):
    if(t_exist(a1,usedTables)and t_exist(a2,usedTables)):
        return []
    elif (t_exist(a1,usedTables)):
        return [a2]
    elif (t_exist(a2,usedTables)):
        return [a1]
    else:
        return [a1,a2]
def     
def get_randomState(parsed_query,alias,joinedClauses):
    usedTables=[]
    queryTables={}
    queryTables.update(alias)
    #print('qieryTables',queryTables)
    new_json=parsed_query
    clauses=random.sample(joinedClauses, len(joinedClauses))
    print('state',clauses)
    a1,a2=get_alias(clauses[0])
    print(a1,a2)
    p=np.random.randint(2)
    if p==0:
        new_from=[{"value":alias[a1],"name":a1},{'join':{'name':a2,'value':alias[a2]} , 'on':{'eq':clauses[0]}  }]
        
    else:
        new_from=[{"value":alias[a2],"name":a2},{'join':{'name':a1,'value':alias[a1]}, 'on':{'eq':clauses[0]}   }]
    usedTables.append(a1)
    usedTables.append(a2)
    #print(new_from)
    clauses.remove(clauses[0])
    del queryTables[a1]
    del queryTables[a2]
    #print('queryTables',len(queryTables))
    
    while(len(queryTables)>0):
        i=0
        
        while(i<len(clauses)) :
            print('iii',i)
            
            a1,a2=get_alias(clauses[i])
            print(a1,a2)
            print('used table',usedTables)
            c=exist(a1,a2,usedTables)
            print('cc',c)
            if(len(c)==1):
                print('esss')
                new_from.append({'join':{'name':c[0],'value':alias[c[0]]}, 'on':{'eq':clauses[i]}})
                usedTables.append(c[0])
                del queryTables[c[0]]
                print('queryTables',len(queryTables))
                clauses.remove(clauses[i])
            elif(len(c)==0):
                clauses.remove(clauses[i])
                
            else:
                i+=1
            print("clauseeeees",clauses)
            
            
    
    new_json["from"]=new_from
    where_clause=new_json["where"]["and"]
    for t in where_clause :
        if "eq" in t:
            if isinstance(t['eq'][1],str):
                joinedClauses.append(t['eq'])
                del(t)
    new_query=format(new_json)
    return new_json,new_query

In [2]:
input="SELECT MIN(t.title) AS american_vhs_movie FROM company_type AS ct,info_type AS it,movie_companies AS mc,movie_info AS mi,title AS t WHERE ct.kind = 'production companies'AND t.id = mi.movie_id AND t.id = mc.movie_id AND mc.movie_id = mi.movie_id AND ct.id = mc.company_type_id AND it.id = mi.info_type_id;"
parsed_query=parse(input)
print(parsed_query)
joinedClauses,alias=queryParser(input)
print(joinedClauses)
print('alias',alias)
new_json,randomState=get_randomState(parsed_query,alias,joinedClauses)
print('jsooon',new_json)
print('randomState',randomState)

{'select': {'value': {'min': 't.title'}, 'name': 'american_vhs_movie'}, 'from': [{'value': 'company_type', 'name': 'ct'}, {'value': 'info_type', 'name': 'it'}, {'value': 'movie_companies', 'name': 'mc'}, {'value': 'movie_info', 'name': 'mi'}, {'value': 'title', 'name': 't'}], 'where': {'and': [{'eq': ['ct.kind', {'literal': 'production companies'}]}, {'eq': ['t.id', 'mi.movie_id']}, {'eq': ['t.id', 'mc.movie_id']}, {'eq': ['mc.movie_id', 'mi.movie_id']}, {'eq': ['ct.id', 'mc.company_type_id']}, {'eq': ['it.id', 'mi.info_type_id']}]}}
[['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['ct.id', 'mc.company_type_id'], ['it.id', 'mi.info_type_id']]
alias {'ct': 'company_type', 'it': 'info_type', 'mc': 'movie_companies', 'mi': 'movie_info', 't': 'title'}
state [['t.id', 'mi.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['ct.id', 'mc.company_type_id'], ['it.id', 'mi.info_type_id']]
t mi
iii 0
mc mi
used table ['t', 'mi']
cc ['mc']
esss
queryTables 2
clauseeeees [['t.id', 'mc.movie_id'], ['ct.id', 'mc.company_type_id'], ['it.id', 'mi.info_type_id']]
iii 0
t mc
used table ['t', 'mi', 'mc']
cc []
clauseeeees [['ct.id', 'mc.company_type_id'], ['it.id', 'mi.info_type_id']]
iii 0
ct mc
used table ['t', 'mi', 'mc']
cc ['ct']
esss
queryTables 1
clauseeeees [['it.id', 'mi.info_type_id']]
iii 0
it mi
used table ['t', 'mi', 'mc', 'ct']
cc ['it']
esss
queryTables 0
clauseeeees []
jsooon {'select': {'value': {'min': 't.title'}, 'name': 'american_vhs_movie'}, 'from': [{'value': 'movie_info', 'name': 'mi'}, {'join': {'name': 't', 'value': 'title'}, 'on': {'eq': ['t.id', 'mi.movie_id']}}, {'join': {'name': 'mc', 'value': 'movie_companies'}, 'on': {'eq': ['mc.movie_id', 'mi.movie_id']}}, {'join': {'name': 'ct', 'value': 'company_type'}, 'on': {'eq': ['ct.id', 'mc.company_type_id']}}, {'join': {'name': 'it', 'value': 'info_type'}, 'on': {'eq': ['it.id', 'mi.info_type_id']}}], 'where': {'and': [{'eq': ['ct.kind', {'literal': 'production companies'}]}, {'eq': ['t.id', 'mi.movie_id']}, {'eq': ['t.id', 'mc.movie_id']}, {'eq': ['mc.movie_id', 'mi.movie_id']}, {'eq': ['ct.id', 'mc.company_type_id']}, {'eq': ['it.id', 'mi.info_type_id']}]}}
randomState SELECT MIN(t.title) AS american_vhs_movie FROM movie_info AS mi JOIN title AS t ON t.id = mi.movie_id JOIN movie_companies AS mc ON mc.movie_id = mi.movie_id JOIN company_type AS ct ON ct.id = mc.company_type_id JOIN info_type AS it ON it.id = mi.info_type_id WHERE ct.kind = 'production companies' AND t.id = mi.movie_id AND t.id = mc.movie_id AND mc.movie_id = mi.movie_id AND ct.id = mc.company_type_id AND it.id = mi.info_type_id

In [3]:
input="SELECT d.d_year,s.s_city,p.p_brand1,SUM(l.lo_revenue - l.lo_supplycost) AS profit  FROM date d,customer c,supplier s,part p,lineorder l WHERE l.lo_custkey = c.c_custkey AND l.lo_suppkey = s.s_suppkey  AND l.lo_partkey = p.p_partkey AND l.lo_orderdate = d.d_datekey AND c.c_region = 'AMERICA' AND s.s_nation = 'UNITED STATES' AND (d.d_year = 1997 OR d.d_year = 1998)  AND p.p_category = 'MFGR#14' GROUP BY  d.d_year, s.s_city, p.p_brand1 ORDER BY d.d_year,s.s_city,p.p_brand1;"
R,mode,parsed_query=queryParser(input)
tables,joinedclauses=get_joinedClause(parsed_query)
print('alias',alias)
print('tables',tables)
print('clauses',joinedClauses)

{'select': [{'value': 'd.d_year'}, {'value': 's.s_city'}, {'value': 'p.p_brand1'}, {'value': {'sum': {'sub': ['l.lo_revenue', 'l.lo_supplycost']}}, 'name': 'profit'}], 'from': [{'value': 'date', 'name': 'd'}, {'value': 'customer', 'name': 'c'}, {'value': 'supplier', 'name': 's'}, {'value': 'part', 'name': 'p'}, {'value': 'lineorder', 'name': 'l'}], 'where': {'and': [{'eq': ['l.lo_custkey', 'c.c_custkey']}, {'eq': ['l.lo_suppkey', 's.s_suppkey']}, {'eq': ['l.lo_partkey', 'p.p_partkey']}, {'eq': ['l.lo_orderdate', 'd.d_datekey']}, {'eq': ['c.c_region', {'literal': 'AMERICA'}]}, {'eq': ['s.s_nation', {'literal': 'UNITED STATES'}]}, {'or': [{'eq': ['d.d_year', 1997]}, {'eq': ['d.d_year', 1998]}]}, {'eq': ['p.p_category', {'literal': 'MFGR#14'}]}]}, 'groupby': [{'value': 'd.d_year'}, {'value': 's.s_city'}, {'value': 'p.p_brand1'}], 'orderby': [{'value': 'd.d_year'}, {'value': 's.s_city'}, {'value': 'p.p_brand1'}]}
taaaable aveeeec aliaaas
saaaaans joiiiiin
alias {'d': 'date', 'c': 'customer', 's': 'supplier', 'p': 'part', 'l': 'lineorder'}
tables {'d': 'date', 'c': 'customer', 's': 'supplier', 'p': 'part', 'l': 'lineorder'}
clauses [['l.lo_custkey', 'c.c_custkey'], ['l.lo_suppkey', 's.s_suppkey'], ['l.lo_partkey', 'p.p_partkey'], ['l.lo_orderdate', 'd.d_datekey']]

In [11]:
b = { "c" : 3, "d" : 4 }
a = { "a" : 1, "b" : 2 }

aa="a"
print(a[aa])

1

In [2]:
import random
import numpy as np
from queryParser import queryParser,listToQuery
from functions import *
import psycopg2
from moz_sql_parser import parse
from moz_sql_parser import format
input="SELECT MIN(chn.name) AS voiced_char,MIN(n.name) AS voicing_actress,MIN(t.title) AS voiced_animation FROM info_type AS it3 join (info_type AS it join  (keyword AS k join (title AS t join movie_keyword AS mk on t.id = mk.movie_id)on k.id = mk.keyword_id) join complete_cast AS cc on t.id = cc.movie_id join comp_cast_type AS cct1 on cct1.id = cc.subject_id join cast_info AS ci on t.id = ci.movie_id join role_type AS rt on  rt.id = ci.role_id join movie_info AS mi on t.id = mi.movie_id join char_name AS chn on chn.id = ci.person_role_id join name AS n on n.id = ci.person_id join comp_cast_type AS cct2 on cct2.id = cc.status_id join person_info AS pi on n.id = pi.person_id) on it.id = mi.info_type_id)on it3.id = pi.info_type_id join aka_name AS an on n.id = an.person_id join movie_companies as mc on t.id = mc.movie_id join company_name AS cn on cn.id = mc.company_id  WHERE cct1.kind ='cast';"
R,mode,parsed_query=queryParser(input)
print(parsed_query)

ParseException: Expecting StringEnd, found "join (info" (at char 122, (line:1, col:123)

In [1]:
import random
import numpy as np
from queryParser import queryParser,listToQuery
from functions import *
import psycopg2
from moz_sql_parser import parse
from moz_sql_parser import format
input="SELECT MIN(chn.name) AS voiced_char,MIN(n.name) AS voicing_actress,MIN(t.title) AS voiced_animation FROM title AS t join movie_info AS mi on t.id = mi.movie_id join movie_companies as mc on t.id = mc.movie_id join cast_info AS ci on t.id = ci.movie_id join movie_keyword AS mk on t.id = mk.movie_id"
R,mode,parsed_query=queryParser(input)
print(parsed_query)

{'select': [{'value': {'min': 'chn.name'}, 'name': 'voiced_char'}, {'value': {'min': 'n.name'}, 'name': 'voicing_actress'}, {'value': {'min': 't.title'}, 'name': 'voiced_animation'}], 'from': [{'value': 'title', 'name': 't'}, {'join': {'name': 'mi', 'value': 'movie_info'}, 'on': {'eq': ['t.id', 'mi.movie_id']}}, {'join': {'name': 'mc', 'value': 'movie_companies'}, 'on': {'eq': ['t.id', 'mc.movie_id']}}, {'join': {'name': 'ci', 'value': 'cast_info'}, 'on': {'eq': ['t.id', 'ci.movie_id']}}, {'join': {'name': 'mk', 'value': 'movie_keyword'}, 'on': {'eq': ['t.id', 'mk.movie_id']}}]}
taaaable aveeeec aliaaas
aveeeec joiiiiiin
['title', 'movie_info', 'movie_companies', 'cast_info', 'movie_keyword']
alias {'title': 't', 'movie_info': 'mi', 'movie_companies': 'mc', 'cast_info': 'ci', 'movie_keyword': 'mk'}
[['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id']]
{'select': [{'value': {'min': 'chn.name'}, 'name': 'voiced_char'}, {'value': {'min': 'n.name'}, 'name': 'voicing_actress'}, {'value': {'min': 't.title'}, 'name': 'voiced_animation'}], 'from': [{'value': 'title', 'name': 't'}, {'join': {'name': 'mi', 'value': 'movie_info'}, 'on': {'eq': ['t.id', 'mi.movie_id']}}, {'join': {'name': 'mc', 'value': 'movie_companies'}, 'on': {'eq': ['t.id', 'mc.movie_id']}}, {'join': {'name': 'ci', 'value': 'cast_info'}, 'on': {'eq': ['t.id', 'ci.movie_id']}}, {'join': {'name': 'mk', 'value': 'movie_keyword'}, 'on': {'eq': ['t.id', 'mk.movie_id']}}]}

In [1]:
parsed_query= {'select': [{'value': {'min': 'chn.name'}, 'name': 'voiced_char'}, {'value': {'min': 'n.name'}, 'name': 'voicing_actress'}, {'value': {'min': 't.title'}, 'name': 'voiced_animation'}], 'from': [{'value': 'title', 'name': 't'}, {'join': {{'name': 'mi', 'value': 'movie_info'},{'join': {'name': 'mc', 'value': 'movie_companies'}, 'on': {'eq': ['t.id', 'mi.movie_id']}} , 'on': {'eq': ['t.id', 'mc.movie_id']}}}]}
new_query=format(parsed_query)
print(new_query)

SyntaxError: invalid syntax (<ipython-input-1-b6360337b231>, line 1)